

    <header class="d-flex flex-column flex-shrink-0 h-100 open" id="menu" th:fragment="menu">
        <ul class="flex-column w-100 mb-auto text-center mt-5">
            <li id="menuBars">
                <a href="#" class="nav-link py-4 rounded-0 item-menu">
                    <i class="fa-solid fa-bars"></i> <span>Menu</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4 rounded-0 item-menu">
                    <i class="fa-solid fa-newspaper"></i> <span>Receita</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4 rounded-0 item-menu">
                    <i class="fa-solid fa-calendar-days"></i> <span>Calendario</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4 rounded-0 item-menu">
                    <i class="fa-solid fa-plus"></i> <span>Prescrição</span>
                </a>
            </li>
        </ul>
        <div class="flex-column w-100 mt-auto text-center">
            <a href="#" class="nav-link active py-4 rounded-0 item-menu">
                <i class="fa-solid fa-gear"></i> <span>Configurações</span>
            </a>
        </div>
    </header>
