<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UBS Health Care | Calendario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b68c09a294.js" crossorigin="anonymous"></script>
    <style>
        :root {
            --verde-1: #274001;
            --verde-4: #9EBF24;
            --verde-5: #F2F2F2;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background-color: var(--verde-1);">
    <div id="MENU" th:replace="Componentes/menu.html :: menu"></div>
    <div class="ms-5">
        <div class="text-center">
            <h1 class="m-4" style="color: var(--verde-5);">Minhas Receitas</h1>
            <h2 class="p-4 mx-auto my-3 col-10 rounded-2"
                style="color: var(--verde-5); background-color: var(--verde-4);">
                Proximos Lembretes</h2>
            <h3 class="m-3" style="color: var(--verde-5);">Hoje</h3>
        </div>
        <div class="text-center col-12 row row-cols-2 g-0 gap-3 justify-content-center">

            <div class="card col-5">
                <div class="card-header" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>
            
            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>

            <div class="card col-5">
                <div class="card-header col-12" style="background-color: black;">
                    <h4 class="card-title" style="color: var(--verde-5);">17:45</h4>
                </div>
                <div class="card-body">
                    <p class="fs-5">
                        IBUPROFENO
                    </p>
                </div>
            </div>
            
        </div>
    </div>


</body>

</html>