<div class="card col-5" th:fragment="calendarioCard">
    <div class="card-header" style="background-color: black;">
        <h4 class="card-title" style="color: var(--verde-5);">12:00</h4>
    </div>
    <div class="card-body">
        <p class="fs-5">
            INSULINA
        </p>
    </div>
    <div class="card-header" style="background-color: black;">
        <h4 class="card-title" style="color: var(--verde-5);">18:00</h4>
    </div>
    <div class="card-body">
        <p class="fs-5">
            ROACUTAN
        </p>
    </div>
</div>