<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UBS Health Care | Receitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b68c09a294.js" crossorigin="anonymous"></script>
    <style>
        :root {
            --verde-1: #274001;
            --verde-4: #9EBF24;
            --verde-5: #F2F2F2;
        }

        .receitas {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body style="background-color: var(--verde-1);">
    <div id="MENU" th:replace="Componentes/menu.html :: menu"></div>
    <div class="ms-5 ps-5">
        <h1 class="text-center" style="color: var(--verde-5);">Minhas Receitas</h1>
        <div class="w-100 receitas d-flex justify-content-center flex-wrap" style="background-color: var(--verde-1);">
            <!-- <div th:replace="Componentes/receitaCard.html :: receitaCard"
                 th:with="cardTitle='CARDIZINNNN',
                          cardBody='AS AS JDO ASOD OASD OAJS DOAS DJOASDOASODJOSD SA ODJJASJODAO ASOD AOSJD OJA DJ ASOD AJODS AOJS DOJA DSJO ',
                          cardFooter='09/09/9999'"
            ></div> -->
            <tr data-th-each="receita, index : ${receitas} ">
                <div class="card col-10 col-md-5 col-xxl-3 m-4 text-center">
                    <div class="card-header fs-4" >
                        <h2 class="card-title" style="color: var(--verde-4);" th:text="'Receita ' + ${index.count}">
                        </h2>
                    </div>
                    <div class="card-body">
                        <p th:text="${receita.prescricao}"></p>
                    </div>
                    <div class="card-footer fs-5" style="background-color: var(--verde-4);">
                        <span class="font-monospace" style="color: var(--verde-5);"
                              th:text="${receita.dataInicio eq null ? '' : #temporals.format(receita.dataInicio, 'dd/MM/yyyy')}">
                        </span>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</body>

</html>